{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="gallery-intro">
  <img src="{% static 'images/search-background.png' %}" alt="Background Image">

  <div class="container">
    <h1><strong>Classic Shots</strong></h1>
    <p>Get freely-usable high-resolution images <span class="blue-txt">anywhere,anytime</span></p>

    <!-- Search Section -->
    <div class="search-section">
      <input type="search" id="category" placeholder="Search image by category" required>
      <button type="button"><a href="#">Search</a></button>
    </div>
  </div>

  

</div>


{% endblock %}